header {
    background: empty;
    color: #ccc;
    height: 75px;
    line-height: 75px;
    text-align: center;
}

body {
    background-image: url("../img/bigspace.jpg");
    background-repeat: no-repeat;
    color: white;
    
}

h1 {
    font-size: 125px;
    font-weight: bold;
    position: fixed;
    display: inline;
}

h3 {
    font-size: 75px;
    font-weight: italic;
    
}

main {
    margin: 25px;
}

ol {
    list-style-type: upper-roman;
    color: white;
}

ul {
    list-style-type: square;
}

li {
    margin-left: 300px;
    margin-bottom: 100px;
    font-size: 50px;
}

footer {
    
    padding: 50px;
    color: rgb(243, 234, 234);
    font-size: 50px;
}

#q1 {
    margin-top: 125px;
}

#q2 {
    margin-left: 1000px;
}

#q3 {
    margin-left: 750px;
}

#q4 {
    margin-left: 1200px;
}

#q5 {
    margin-left: 500px;
}

#q6 {
    
}

#footer {
    width: 1200px;  
    margin-left: 700px;  
    text-align: left; 
}


p {
    width: 1200px;
    font-size: 35px;
    margin-left: 1275px;
}